<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign In</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">        
        <link rel="stylesheet" href="../css/bootstrap/bootstrap-theme.min.css">
        <link rel="stylesheet/less" href="../css/modules/login/login.less">
        <link rel="stylesheet/less" href="../css/base/layout.less">

        <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">

                    <img src="../img/blog.jpg" class="img-responsive img-rounded" alt="Blog">

                    <div class="account-wall">
                        <form class="form-signin center-block" role="form">
                            <h1 class="text-center login-title">Sign In</h1>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" required autofocus>
                                <span class="text-danger text-hide">Invalid email</span>
                            </div>
                            
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required>                               
                                <span class="text-danger">Invalid email/password</span>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    Sign in
                                </button>
                            </div>

                            <div class="form-group">
                                <div class="checkbox pull-left">
                                    <input  type="checkbox" value="remember-me">
                                    Remember me
                                </div>
                                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                            </div>
                        </form>
                         <a href="#" class="text-center new-account">Create an account </a>
                    </div>
                   
                </div>
            </div>
        </div>

        <!-- include script tags -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
    </body>

    </html>